div {
    max-width: 50%;
    font-family: Times New Roman, serif;
}

.quote_div{
    padding: 30px;
    /*background: white;*/
    border-radius: 10px;
    border: 1px;
}

.justify_text {
    text-align: justify;
    text-justify: inter-word;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 20%;
}

.share_button {
    background-color: transparent; /*#00aced;*/
    width: 50px;
    height: 50px;
}

h3{
    /*font-size: 30px;*/
    color: #37474F;
}

h4{
    /*font-size: 25px;*/
    color: #546E7A;
}

body {
    animation: colorchange 5s; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 50s; /* Chrome and Safari */
}

@keyframes colorchange {
    0% {
        background: #6effd0;
    }
    5% {
        background: #86ffb9;
    }
    10% {
        background: #c2ff9b;
    }
    15% {
        background: #e1ffa0;
    }
    20% {
        background: #faffb1;
    }

    25% {
        background: #ee33ee;
    }

    30% {
        background: #ee66ee;
    }
    35% {

        background: #ee99ee;
    }
    40% {

        background: #eeccee;
    }
    45% {

        background: #eeffee;
    }
    50% {

        background: #dd99dd;
    }
    55% {

        background: #7780ff;
    }
    60% {

        background: #77beff;
    }
    75% {

        background: #77ffbe;
    }
    80% {

        background: #77ff87;
    }
    85% {
        background: #d5ff77;
    }
    90% {
        background: #AED581;
    }
    95% {
        background: #FFD54F;
    }
    100% {
        background: #B0BEC5;
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0% {
        background: #6effd0;
    }
    5% {
        background: #86ffb9;
    }
    10% {
        background: #c2ff9b;
    }
    15% {
        background: #e1ffa0;
    }
    20% {
        background: #faffb1;
    }

    25% {
        background: #ee33ee;
    }

    30% {
        background: #ee66ee;
    }
    35% {

        background: #ee99ee;
    }
    40% {

        background: #eeccee;
    }
    45% {

        background: #eeffee;
    }
    50% {

        background: #dd99dd;
    }
    55% {

        background: #7780ff;
    }
    60% {

        background: #77beff;
    }
    75% {

        background: #77ffbe;
    }
    80% {

        background: #77ff87;
    }
    85% {
        background: #d5ff77;
    }
    90% {
        background: #AED581;
    }
    95% {
        background: #FFD54F;
    }
    100% {
        background: #B0BEC5;
    }
}