div{
    max-width: 50%;
    font-family: "Times New Roman", serif;
}

.justify_text{
    text-align: justify;
    text-justify: inter-word;
}

.col-centered{
    float: none;
    margin: 0 auto;
    margin-top: 20%;
}

.share_button{
    margin-top: 10px;
    background-color: transparent;
}